<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>xAdministration</servlet-name>
		<jsp-file>/View/Error/NotFound.html</jsp-file>
	</servlet>
	<error-page>
   <exception-type>404</exception-type>
   <location>/View/Error/NotFound.html</location>
</error-page>

	<error-page>
		<error-code>401</error-code>
		<location>/View/Error/NotFound.html</location>
	</error-page>
	
		
	
	<error-page>
		<error-code>500</error-code>
		<location>/View/Error/NotFound.html</location>
	</error-page>
	<error-page>

		<error-code>404</error-code>
		<location>/View/Error/NotFound.html</location>
	</error-page>


</web-app>